#background{
	width : 30%;
	margin-left: auto;
	margin-right: auto;
}

#title{
	width: 100%;
	text-align: center;
	background-color: green;
}

#shop {
	text-align: center;
}

#input{

}

#add{

}

.items {

}

#checkout{

}

