#background{
	width: 100%;
}

#Title{
	width: 100%;
	background-color: green;

}

#Shop {
	text-align: center;
}

#Input{
	height: 10px;
	width: 100px;
	float: left;
	padding-right: 50px;
	margin-left: 500px;
}

#Add{

	height: 20px;
	width: 40px;
	float: right;

	margin-right: 500px;
}

.Items {
	float: right;
	margin-right: 650px;
}

#Checkout{
	float: right;
	margin-right: 600px;
}

